site_name: Essential Guide to SQLite
site_description: 'Essential Guide to SQLite'
site_author: Ibon Martínez-Arranz
site_url: https://github.com/imarranz/essential-guide-to-sqlite
repo_url: https://github.com/imarranz/essential-guide-to-sqlite

docs_dir: book
site_dir: web

use_directory_urls: false

theme:
  name: readthedocs #mkdocs # https://mkdocs.readthedocs.io/en/0.13.3/user-guide/styling-your-docs/l
  #custom_dir: mkdocs-bootstrap4-master/mkdocs_bootstrap4
  color_mode: auto
  #user_color_mode_toggle: true
  palette:
    primary: 'yellow'
    accent: 'deep orange'
  social:
    - type: github-alt
      link: https://github.com/imarranz
    - type: twitter
      link: https://twitter.com/imarranz
    - type: linkedin
      link: https://www.linkedin.com/in/ibon-martinez-arranz/
  nav_style: dark #primary #dark
  locale: en
  highlightjs: true
  hljs_languages:
    - yaml
    - python
    - bash
  include_sidebar: true
  include_homepage_in_sidebar: true
  prev_next_buttons_location: top # bottom, top, both, none.
  titles_only: true
  shortcuts:
    help: 191    # ?
    next: 78     # n
    previous: 80 # p
    search: 83   # s

# conda install -c conda-forge pymdown-extensions
# https://squidfunk.github.io/mkdocs-material/extensions/pymdown/

markdown_extensions:
  - toc:
      permalink: "#"
      baselevel: 1
      toc_depth: 6
      separator: "_"
  - footnotes
  - fenced_code

# https://github.com/try0/mkdocs-toc-md

plugins:
  - search
  #- toc-md:
      #toc_page_title: Contents
  - mermaid2:
      javascript: https://unpkg.com/mermaid@10.4.0/dist/mermaid.esm.min.mjs

extra:
  version: 1.0

extra_css:
  - 'css/custom.css'

extra_javascript:
#  - 'javascripts/extra.js'
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'

nav:
  - 'Essential Guide to SQLite': index.md
  - 'Introduction to SQLite':
    - 'Overview of SQLite': 01_introduction/011_overview_of_sqlite.md
    - 'Key Features': 01_introduction/012_key_features.md
    - 'Use Cases': 01_introduction/013_use_cases.md
  - 'Installing SQLite':
    - 'Installation on Linux': 02_installing/021_installation_on_linux.md
    - 'First Steps': 02_installing/022_first_steps.md
  - 'Using SQLite in Command Line':
    - 'Launching SQLite Console': 03_command/031_launching_sqlite_console.md
    - 'Basic Commands': 03_command/032_basic_commands.md
  - 'Introduction to the Northwind Database':
    - 'Overview of the Northwind Database': 04_northwind/041_overview_of_the_northwind_database.md
    - 'Schema and Relationships': 04_northwind/042_schema_and_relationships.md
  - 'Basic SQL Commands':
    - 'Creating Tables': 05_basic/051_creating_tables.md
    - 'Inserting Data': 05_basic/052_inserting_data.md
    - 'Selecting Data': 05_basic/053_selecting_data.md
    - 'Examples': 05_basic/054_examples.md
  - 'Advanced SQL Commands':
    - 'Updating Data': 06_advanced/061_updating_data.md
    - 'Deleting Data': 06_advanced/062_deleting_data.md
    - 'Using WHERE Clause': 06_advanced/063_using_where_clause.md
    - 'Sorting Results with ORDER BY': 06_advanced/064_sorting_results_with_order_by.md
    - 'Examples': 06_advanced/065_examples.md
  - 'Complex Queries':
    - 'Aggregate Functions': 07_complex/071_aggregate_functions.md
    - 'Grouping Results with GROUP BY': 07_complex/072_grouping_results_with_group_by.md
    - 'Filtering Groups with HAVING': 07_complex/073_filtering_groups_with_having.md
    - 'Examples': 07_complex/074_examples.md
  - 'Joins':
    - 'Understanding Joins': 08_joins/081_understanding_joins.md
    - 'Inner Join': 08_joins/082_inner_join.md
    - 'Left Join': 08_joins/083_left_join.md
    - 'Right Join': 08_joins/084_right_join.md
    - 'Full Join': 08_joins/085_full_join.md
    - 'Examples': 08_joins/086_examples.md
  - 'SQLite with Python':
    - 'Setting Up SQLite in Python': 09_python/091_setting_up_sqlite_in_python.md
    - 'Performing Basic Operations': 09_python/092_performing_basic_operations.md
    - 'Handling Transactions': 09_python/093_handling_transactions.md
    - 'Error Handling': 09_python/094_error_handling.md
    - 'Examples': 09_python/095_examples.md
  - 'SQLite with Jupyter':
    - 'Installing Necessary Libraries': 10_jupyter/101_installing_libraries.md
    - 'Running SQLite Queries in Jupyter': 10_jupyter/102_running_sqlite_queries_in_jupyter.md
    - 'Visualizing Data with SQLite and Pandas': 10_jupyter/103_visualizing_data_with_sqlite_and_pandas.md
  - 'Additional Resources and Further Reading':
    - 'Official Documentation': 11_resources/111_official_documentation.md
    - 'Community Resources': 11_resources/112_community_resources.md
    - 'Books and Tutorials': 11_resources/113_books_and_tutorials.md


copyright: '<b>Essential Guide to SQLite</b>
<br>Copyright &#169; 2024 <a href="https://github.com/imarranz">Ibon Martínez-Arranz</a><br>'
